/*--------------------------------------------------------------
# Social Icons
--------------------------------------------------------------*/
*
{
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100%;
}
.withbg{
    height: 100%;
    background-color: lime;
    background-position: center;
    background-size: cover;
}
.icons{
    position: fixed;
    z-index: 1000;
    top: 30%;
    right: 0%;
    width: 115px;
    display: flex;
    flex-direction: column;
}
.icons a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 2px;
    padding: 10px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    border-radius: 50px 0px 0px 50px;
    transform: translate(75px,0px);
    transition: all  0.5s;
}
.icons a:hover{
    transform: translate(0px,0px);
}
.icons a i{
    margin-right: 10px;
    background-color: white;
    color: black;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    transition:  all 0.5s;
}
.icons a:hover i{
    transform: rotate(-360deg);
}
.icons a i.fa-facebook-f{
    color: blue;
}
.icons a i.fa-instagram{
    color: magenta;
}
.icons a i.fa-youtube{
    color: red;
}
.icons a i.fa-twitter{
    color: skyblue;
}
.facebook{
    background-color: rgb(30, 30, 94);
    width: auto;
}
.instagram{
    background-color: rgb(128, 30, 128);
}
.youtube{
    background-color: rgb(116, 30, 30);
}
.twitter{
    background-color: rgb(30, 104, 133);
}
